[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RobustMetrics"]
	path = RobustMetrics
	url = https://github.com/bernhardklar/robustmetrics
[submodule "lancor"]
	path = lancor
	url = https://github.com/bernhardklar/lancor
[submodule "tailplots"]
	path = tailplots
	url = https://github.com/cran/tailplots
